## 1978번 (소수 찾기)

In [11]:
n = int(input())
a = list(map(int, input().split()))
res = 0
for i in a :
    cnt = 0
    for j in range(1, i+1) :
        if i%j ==0 :
            cnt+=1
    if cnt == 2 :
        res+=1
print(res)

1
1 2 3 4 5
2

## 2581번 (소수) X

In [16]:
m = int(input())
n = int(input())
res = []
for i in range(m, n+1) :
    cnt = 0
    for j in range(1, i+1) :
        if i%j == 0 :
            cnt+=1
            if cnt > 2 :
                break
    if cnt==2 :
        res.append(i)
if len(res) > 0 :
    print(sum(res))
    print(res[0])
else :
    print(-1)

60
100
620
61

## 1929번 (소수 구하기)

In [34]:
m, n = map(int, input().split())
for i in range(m, n+1) :
    if i==1 :
        continue
    cnt = 0
    for j in range(1, int(i**0.5)+1) :
        if i%j==0 :
            cnt+=1
            if cnt > 1 :
                break
    if cnt == 1 :
        print(i)

1 20
2
3
5
7
11
13
17
19

## 4948번 (베르트랑 공준) X - 에라토스테네스의 체

In [ ]:
def prime_list(n) :
    sieve = [True]*n
    m = int(n ** 0.5)
    for i in range(2, m+1) :
        if sieve[i] == True :
            for j in range(i+i, n, i) :
                sieve[j] = False
    return [i for i in range(2, n) if sieve[i]==True]
while True :
    n = int(input())
    res = 0
    if n == 0 :
        break
    print(len([i for i in prime_list(2*n+1) if i>n]))

## 9020번 (골드바흐의 추측)

In [20]:
def prime_list(n) :
    sieve = [True]*n
    m = int(n**0.5)
    for i in range(2, m+1) :
        if sieve[i] == True :
            for j in range(i+i, n, i) :
                sieve[j] = False
    return [i for i in range(2, n) if sieve[i]]

def prime_sum(n) :
    li = prime_list(n)
    idx = max([i for i in range(len(li)) if li[i] <= n/2])
    for i in range(idx, -1, -1) :
        for j in range(i, len(li)) :
            if li[i]+li[j] == n :
                return [li[i], li[j]]

for _ in range(int(input())) :
    n = int(input())
    print(" ".join(map(str, prime_sum(n))))

4
8
3 5
10
5 5
16
5 11
20
7 13

## 1085번 (직사각형에서 탈출)

In [24]:
x, y, w, h = map(int, input().split())
print(min(min(w-x, x-0), min(h-y, y-0)))

6 2 10 3
1

## 3009번 (네 번째 점)

In [30]:
x = []
y = []
resx = 0
resy = 0
for _ in range(3) :
    a, b = map(int, input().split())
    x.append(a)
    y.append(b)
for i in x :
    if x.count(i) == 1 :
        resx = i
for i in y :
    if y.count(i)==1 :
        resy = i
print(resx, resy)

30 20
10 10
30 10
10 20

## 4153번 (직각삼각형)

In [46]:
while True :
    li = sorted(list(map(int, input().split())))
    x, y, z = li
    if sum(li) == 0 :
        break
    if z**2 == x**2+y**2 :
        print('right')
    else :
        print('wrong')

3 4 5
right
0 0 0

## 3053번 (택시 기하학)

In [52]:
import math
r = int(input())
print(round(r*r*math.pi, 4))
print(round(2*r*r, 4))

1
3.1416
2

## 1002번 (터렛) X

In [55]:
for _ in range(int(input())) :
    x1, y1, r1, x2, y2, r2 = map(int, input().split())
    d = ((x2-x1)**2 + (y2-y1)**2)**0.5
    rs = r1+r2
    rm = abs(r1-r2)
    if d==0 :
        if r1==r2 :
            print(-1)
        else :
            print(0)
    else :
        if d == rs or d == rm :
            print(1)
        elif d < rs and d > rm :
            print(2)
        else :
            print(0)

3
0 0 13 40 0 37
2
0 0 3 0 7 4
1
1 1 1 1 1 5
0